html, body, .wrapper {
  min-height: 100vh;
}

.wrapper {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  align-self: center;
  flex-direction: column;
}
.content-center {
  justify-content: center;
}

form {
  box-shadow: 0 0 10px 0px black;
  padding: 1rem;
  border-radius: 5px;
}

.nav-item {
  margin: 0 20px;
}
